.row {
  display: flex;
  flex-direction: column;

  &.row--direction-row {
    flex-direction: row;
  }

  &.row--align-center {
    align-items: center;
  }
  &.row--align-flex-end {
    align-items: flex-end;
  }

  &.row--justify-center {
    justify-content: center;
  }

  &.row--justify-space-between {
    justify-content: space-between;
  }

  &.row--relative {
    position: relative;
  }

  &.row--wrap {
    flex-wrap: wrap;
  }
}
